/* COMMON STYLES */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font_condensed {
  font-family: "Open Sans Condensed", sans-serif;
}

/* INPUT STYLES */

input,
textarea {
  width: 100%;
  padding: 0 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  outline: none;
  border: none;
  border-radius: 1.2rem;
  resize: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input::placeholder,
textarea::placeholder {
  transition: 0.08s linear;
}

input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0;
}

/* BUTTON STYLES */

button {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* MISC STYLES */

.temptemp {
  background-color: #799700;
}
